.pathway-card.active {
  border-top: 1px solid #E9F3EC;
  border-bottom: 1px solid #E9F3EC;
  border-left: 0;
}

.pathway-card.active::after {
  position: absolute;
  content: '';
  left: 0;
  border-left: 3px solid #12B886;
  height: 102%;
  top: -1px;
}

.pathway-card {
  position: relative;
  overflow: visible;
  cursor: pointer;
}

.pathway-card.completed {
  cursor: not-allowed;
}
